<% provide(:title, 'Home')%>
<% if lender_signed_in? %>
	<div id="dialog-modal" title="Progress Notification">
		<p>Please wait...</p>
	</div>
<table class="profile">
  <tr>
    <td class="main">
      <h1 class="micropost">Add Lendable Machinery</h1>
      <%= render 'shared/lendablemachinery_form' %>
    </td>
    <td class="sidebar round">
       <%= render 'shared/lender_info' %>
    </td>
  </tr>
</table>
<% else %>
<table class="profile">
  <tr>
    <td class="main">
	  <div id="forOverlay">
      	<h1 class="micropost">Find neaby available Machineries</h1>
      	<%= render 'shared/lendablemachinerysearch_form' %>
        <div id="dialog-modal" title="Progress Notification">
        	<p>Please wait...</p>
        </div>
	  </div>
    </td>
  </tr>
</table>
<div id="machinerydetails"> </div>

<!--	<p>
	  This is the home page for the Agri-Aid application done by me using Ruby on Rails.<br /><br />
	  <% if !farmer_signed_in? && !lender_signed_in? %>
	  	<%= link_to "Farmer Sign up!", farmersignup_path, class: "signup_button round" %><br />
	  	<%= link_to "Lender Sign up!", lendersignup_path, class: "signup_button round" %><br />
	  <% end %>
-->	</p>
<% end %>