<div class="user_info">
	<table class="sidebar round">
      <tr><td><strong>Lender Name</strong></td><td> <%= current_lender.name %></td></tr>
      <tr><td><strong>Address</strong></td><td>  <%= current_lender.street %>,<br /><%= current_lender.taluk %>,<br /><%= current_lender.district %></td></tr>
      <tr><td><strong>Phone</strong></td><td> <%= current_lender.phone %></td></tr>
	  <tr><td><strong>Email</strong></td><td> <%= current_lender.email %></td></tr>
    </table>
    <strong>URL</strong>  <%= link_to lender_path(current_lender), current_lender %><br />

    <span class="microposts">Lender has 
      <%= pluralize(current_lender.lendablemachineries.count, "lendable machinery") %>
    </span>
</div>
