<%= form_for(@lendablemachineryadded) do |f| %>
  <%= render 'shared/lender_error_messages', object: f.object %>
  <div class="field">
    <%= f.label :select_machinery_category %><br />
	<%= select_tag(:machinerycategory_id, options_for_select(Machinerycategory.all.map {|m|[m.name,m.id]})) %>
  </div>
  <div id="machineSelect">
  </div></br>
  <div class="field">
    <%= f.label :num_of_machines %><br />
    <%= f.text_field :numofmachines %>
  </div>
  <div class="field">
    <%= f.label :rate_per_hour %><br />
    <%= f.text_field :rateperhr %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
