<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<%= form_for(@farmer) do |f| %>
  <%= render 'shared/farmer_error_messages' %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :village %><br />
    <%= f.text_field :village %>
  </div>
  <div class="field">
    <%= f.label :taluk %><br />
    <%= f.text_field :taluk %>
  </div>
  <div class="field">
    <%= f.label :district %><br />
    <%= f.text_field :district %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
