<tr>
			<td>
				<%= lendablemachinery.machinery_id %>
			</td>
			<td>
				<%= Machinery.find(lendablemachinery.machinery_id).name %>
			</td>
			<td>
				<%= Machinerycategory.find(Machinery.find(lendablemachinery.machinery_id).machinerycategory_id).name %>
			</td>
			<td>
				<%= Machinery.find(lendablemachinery.machinery_id).manufacturer %>
			</td>
			<td>
				<%= lendablemachinery.rateperhr %>
			</td>
			<td>
				<%= lendablemachinery.numofmachines %>
			</td>
			<td>
				<%= link_to 'Delete Machinery', [lendablemachinery], :confirm => 'Are you sure?', :method => :delete %>
			</td>
</tr>
