<tr>
			<td>
				<%= lendablemachinery.machinery_id %>
			</td>
			<td>
				<%= Machinery.find(lendablemachinery.machinery_id).name %>
			</td>
			<td>
				<%= Machinerycategory.find(Machinery.find(lendablemachinery.machinery_id).machinerycategory_id).name %>
			</td>
			<td>
				<%= Machinery.find(lendablemachinery.machinery_id).manufacturer %>
			</td>
			<td>
				<%= lendablemachinery.rateperhr %>
			</td>
			<td>
				<%= lendablemachinery.numofmachines %>
			</td>
			<td>
				<%# Look for the rule "match 'lendablemachineries/edit/:id'". The route path order follows the argument order in link_to helper! %>
				<%= link_to 'Edit', :controller => 'lendablemachineries',
														:action => 'edit',
														:id => lendablemachinery.id %>
			</td>
			<td>
				<%= link_to 'Delete', [lendablemachinery], :confirm => 'Are you sure?', :method => :delete %>
			</td>
</tr>
