<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<%= form_for(@lender) do |f| %>
  <%= render 'shared/lender_error_messages', object: f.object %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= select(:lender, :state_cd, options_for_select(State.all.map {|m|[m.name,m.state_cd]}.insert(0,'Select a State..'))) %>
  </div>
  <div id="forOverlay">
	<div class="ui-overlay" style="visibility: hidden"><div class="ui-widget-overlay"></div><div class="ui-widget-shadow ui-corner-all" style="width: 302px; height: 100px; position: absolute; left: 480px; top: 200px;"></div></div>
	<div style="position: absolute; width: 280px; height: 77px;left: 480px; top: 200px; padding: 10px; visibility: hidden" class="ui-widget ui-widget-content ui-corner-all">
			<div class="ui-dialog-content ui-widget-content" style="background: none; border: 0;">
				<p>Please wait...</p>
			</div>
	</div>
  </div>
  <div class="field">
    <%= f.label :district %><br />
    <%= select(:lender, :district_cd, options_for_select(District.all.map {|m|[m.name,m.district_cd]}.insert(0,'Select a district..'))) %>
  </div>
  <div class="field">
    <%= f.label :taluk %><br />
	<span id="talukSelect">
  	</span>
  </div>
  <div class="field">
    <%= f.label :village %><br />
    <span id="villageSelect">
  	</span>
  </div>
  <div class="field">
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
