<header>
    <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
		<%= link_to logo, root_path%>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Home", root_path %></li>
		    <% if farmer_signed_in? %>
            	<li><%= link_to "Profile", current_farmer %></li>
            <% end %>
		    <% if lender_signed_in? %>
            	<li><%= link_to "Profile", current_lender %></li>
            <% end %>
            <li><%= link_to "Help", help_path %></li>
            <% if farmer_signed_in? %>
            	<li><%= link_to "Sign out", farmersignout_path, method: :delete %></li>
		    <% elsif lender_signed_in? %>
		        <li><%= link_to "Sign out", lendersignout_path, method: :delete %></li>
            <% else %>
            	<li><%= link_to "Farmer Sign in", farmersignin_path %></li>
		    	<li><%= link_to "Lender Sign in", lendersignin_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  	</div>
</header>